.tagContainer {
	width: 260px;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
}

@media (max-width: 800px) {
	.tagContainer {
		margin-top: 5px;
		padding: 10px;
		width: 100%;
	}
}

.tagText {
	font-weight: 600;
}

.tagErrorMessage {
	margin-top: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
}
