.followTextWrapper {
	display: flex;
	margin-bottom: 20px;
}

.followText {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.followTextWrapper {
	display: flex;
	margin-bottom: 20px;
}

.followText {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.noneFollowText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-top: -50px;
	font-size: 16px;
	font-weight: 600;
}

@media (max-width: 770px) {
	.noneFollowText {
		margin-top: -40px;
	}
}

.line {
	margin: 2px 0 5px;
	border-top: 1px #c4c4c4 solid;
}
