.followListContainer {
	background: var(--box-background-color);
	border: 1px var(--boder-color) solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	min-height: 15%;
	width: 100%;
	margin-top: 10px;
}

.followText {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.followTextWrapper {
	display: flex;
	margin-bottom: 20px;
}

.followText {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.noneFollowText {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 16px;
	font-weight: 600;
}

.line {
	margin: 0px;
	border-top: 1px var(--boder-color) solid;
}
