.memoItemContainer {
  max-width: calc(50% - 6px);
  min-width: calc(50% - 6px);
  display: flex;
  padding: 15px 15px 15px 7.5px;
  border: solid 1px var(--border-color);
  box-shadow: var(--box-shadow-color);
  margin: 0 3px 6px 3px;
  font-size: 17px;
  background: var(--box-background-color);
  border-radius: 5px;
}
.langImage {
  min-width: 100px;
  min-height: 80px;
  display: grid;
  place-items: center;
  margin-bottom: auto;
  border-radius: 5px;
}

.memoItemContent {
  width: calc(100% - 100px);
  min-height: 70px;
  padding-left: 7.5px;
}
.link {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.writer {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: auto auto auto 1fr;
}
.writer span {
  margin-left: 5px;
}
.writerIcon {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}
.writerName {
  display: flex;
  font-size: 15px;
}
.writerId {
  margin-left: 5px;
  font-size: 14px;
}
.date {
  font-size: 14px;
  opacity: 0.8;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.favorite {
  grid-row: 2 / 3;
  grid-column: 4 / 4;
  display: grid;
  grid-template-rows: 24px;
  grid-template-columns: 1fr auto;
  justify-items: right;
  align-items: end;
  font-weight: bold;
  font-size: 0.6rem;
  color: var(--base-color);
}
.favoriteNum {
  width: 1rem;
}

@media screen and (max-width: 900px) {
  .memoItemContainer {
    max-width: calc(100% - 6px);
    width: calc(100% - 6px);
  }
  .memoItemContent {
    width: calc(870px - 70px - 15px * 2);
  }
}

@media screen and (max-width: 600px) {
  .langImage {
    min-width: 70px;
  }
  .link {
    font-size: 14px;
  }
  .writerName {
    font-size: 12px;
  }
  .writerId,
  .date {
    font-size: 11px;
  }
}
