.memoItemContainer {
  width: calc(50% - 6px);
  display: flex;
  padding: 15px 15px 15px 7.5px;
  border: solid 1px var(--border-color);
  box-shadow: var(--box-shadow-color);
  margin: 0 3px 6px 3px;
  font-size: 14px;
  background: var(--box-background-color);
  border-radius: 5px;
}
.langImage {
  min-width: 70px;
  display: grid;
  place-items: center;
  margin: auto 0;
  border-radius: 5px;
  cursor: pointer;
}

.memoItemContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70px;
  padding-left: 7.5px;
}
.title {
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  padding-bottom: 10px;
  cursor: pointer;
}
.title:hover {
  color: var(--title-hover-color);
}
.writer {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: auto auto auto 1fr;
  margin-top: auto;
}
.writer span {
  margin-left: 5px;
}
.writerIcon {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}
.writerName {
  position: relative;
  display: block;
  font-size: 12px;
  cursor: pointer;
}
.writerId {
  margin-left: 5px;
  font-size: 11px;
}
.writerName::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: 3px;
  border-bottom: 1px solid var(--base-color);
  display: block;
}
.writerName:hover::after {
  width: 100%;
  border-bottom: 1px solid var(--base-color);
}
.date {
  font-size: 11px;
  opacity: 0.8;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.favorite {
  grid-row: 2 / 3;
  grid-column: 4 / 4;
  display: grid;
  grid-template-rows: 18px;
  grid-template-columns: 1fr auto;
  justify-items: right;
  align-items: end;
  font-weight: bold;
  font-size: 0.6rem;
  color: var(--base-color);
}
.favoriteNum {
  width: 1rem;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .memoItemContainer {
    width: calc(100% - 6px);
  }
  .memoItemContent {
    width: calc(738px - 70px - 15px * 2);
  }
}

@media screen and (max-width: 600px) {
  .langImage {
    min-width: 70px;
  }
  .title {
    font-size: 14px;
  }
  .writerName {
    font-size: 12px;
  }
  .writerId,
  .date {
    font-size: 11px;
  }
}
