.content {
	display: grid;
	grid-auto-columns: minmax(300px, 800px);
	grid-auto-rows: minmax(1px, auto);
	grid-template-areas: " main ";
	justify-content: center;
	margin: 10px 20px 20px 20px;
}

.mainContainer {
	grid-area: main;
	background: var(--box-background-color);
	border: 1px var(--border-color) solid;
	box-shadow: var(--box-shadow-color);
	border-radius: 5px;
	padding: 50px;
	border-radius: 5px;
	color: #24292e;
	font-size: 16px;
	font-weight: 400;
}
