html {
  width: 100%;
  background-color: #f6f6f6;
}
main {
  display: inline-flex;
}
/* main {
  max-width: 768px;
  width: auto;
  margin: 10px auto;
  padding: 30px;
  background-color: #FFF;
}
@media screen and (max-width: 788px) {
  main {
    width: auto;
    margin: 10px 10px;
    background-color: #FFF;
  }
} */
