/* Login */
.loginContainer {
	display: flex;
	justify-content: center;
	height: 60vh;
}
.main {
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 0 20px;
}
.title {
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 10px;
}
.text {
	font-size: 18px;
	padding-bottom: 20px;
}
