/* Top */
.topContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.mainContainer {
  width: 960px;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
}
.memoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchContainer {
  margin-bottom: 20px;
  min-height: 60px;
}

@media screen and (max-width: calc(960px + 20px * 2)) {
  .mainContainer {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .memoList {
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .topContainer {
    padding: 20px 0;
  }
}
