/* Signup */
.signUpContainer {
	display: flex;
	justify-content: center;
	height: 80vh;
}
.main {
	flex-direction: column;
	justify-content: center;
	width: 540px;
	padding: 0 20px;
}
.title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}
.inputWrapper,
.inputWrapper_ {
	padding: 8px 0;
}

@media screen and (max-width: calc(500px + 40px * 2)) {
	.inputWrapper div,
	.inputWrapper_ div {
		width: 100%;
	}
	.inputWrapper_ {
		padding: 0;
	}
	.inputWrapper_ > div {
		padding-bottom: 5px;
	}
}
