/* Top */
.topContainer {
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 20px;
}
.mainContainer {
	width: 768px;
	flex-direction: column;
	border-radius: 5px;
	background-color: transparent;
}

@media screen and (max-width: calc(768px + 20px * 2)) {
	.mainContainer {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.topContainer {
		padding: 20px 0;
	}
}
