.content {
	display: grid;
	grid-auto-columns: 270px minmax(1px, 670px);
	grid-auto-rows: minmax(1px, auto) minmax(1px, auto);
	grid-template-areas:
		" header header  "
		" sidebar  main";
	gap: 15px;
	justify-content: center;
	margin: 80px 20px 20px 20px;
}

@media (max-width: 770px) {
	.content {
		grid-auto-columns: minmax(1px, 100%);
		grid-auto-rows: minmax(1px, auto) minmax(400px, auto);
		grid-template-areas:
			" header  "
			" main	  ";
		gap: 5px;
		margin: 30px 5px 5px 5px;
	}
}

.mainContainer {
	grid-area: main;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-right: 20px;
	border-radius: 5px;
}

@media (max-width: 770px) {
	.mainContainer {
		max-width: 770px;
		padding: 0px;
	}
}

.mainTabWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-right: 10px;
	padding-bottom: 10px;
}

.mainTabLeft {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 5px;
}

@media (max-width: 770px) {
	.mainTabLeft {
		margin-left: 0px;
	}
}

.mainTabLeftText {
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}

.backButton {
	font-size: 15px;
	margin-left: 8px;
}
