/* Header */
.header {
  height: 60px;
}
.headerContainer {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 60px;
  height: auto;
  background: var(--header-background-color);
  border-bottom: 1px var(--header-boder-color) solid;
  padding: 0 10px;
}
.searchFieldWrapper,
.searchButtonWrapper,
.signUpButtonWrapper,
.avatarWrapper,
.writeButtonWrapper {
  margin-left: 10px;
}
.headerContents {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  max-height: 60px;
}
.title {
  cursor: pointer;
}
.titleWrapper img {
  padding: 8px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
}
.contents {
  display: flex;
  margin: 12.5px 0;
}

/* 検索ボタンラッパー */
.searchButtonWrapper {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.searchButtonWrapper img {
  min-width: 22px;
  min-height: 22px;
}

/**
  Material-uiのTextFieldは様々なタグを内包しているので
  CSSを適応させるときには以下のような記述の仕方になる
**/
.searchField input {
  min-height: 16px;
  width: 48px !important;
  padding: 7.5px 14px;
  font-size: 10px;
}
/* divタグにボーダーが設定されているため、ここにバックグラウンドカラーを設定 */
.searchField div {
  min-height: 30px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: #fff;
}
.searchField div > div {
  height: 10px;
  margin: 0;
}
.searchField div > span {
  font-size: 10px;
  padding-left: 6.5px;
  padding-right: 8px;
}
.searchField div > svg {
  height: 18px;
  width: 18px;
}
.searchField label {
  font-size: 10px;
  transform: translate(1.4em, 1.25em) scale(1);
}

.avatarWrapper {
  width: 35px;
  height: 35px;
}
