/* Header */
.header {
	height: 58px;
}
.headerContainer {
	z-index: 1;
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	max-height: 58px;
	height: 100%;
	background: var(--header-background-color);
	border-bottom: 1px var(--header-boder-color) solid;
	padding: 0 10px;
}
.searchButtonWrapper,
.signUpButtonWrapper,
.writeButtonWrapper {
	margin: 0 5px;
}
.titleWrapper {
	padding: 0 5px;
	margin-right: 70px;
}
.writeButtonWrapper {
	width: 120px;
}
.headerContents {
	display: flex;
	justify-content: space-between;
	width: 960px;
	height: inherit;
}
.title {
	cursor: pointer;
}
.titleWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 58px;
}
.titleWrapper img {
	max-height: 40px;
	border-radius: 12px;
}
.contents {
	display: flex;
	margin: auto 0 auto 10px;
}

.searchButtonWrapper {
	height: 30px;
	margin-top: auto;
	margin-bottom: auto;
}
.searchButtonWrapper img {
	min-width: 22px;
	min-height: 22px;
}

@media screen and (max-width: 600px) {
	.titleWrapper {
		margin-right: 0;
	}
	.contents {
		margin: auto 0;
	}
}
