.affiliationProfileContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 12px;

	background: var(--box-background-color);
	border: 1px var(--border-color) solid;
	box-shadow: var(--box-shadow-color);
	border-radius: 5px;
	margin-bottom: 13px;
}

@media (max-width: 770px) {
	.affiliationProfileContainer {
		margin-bottom: 0px;
		grid-area: profile;
	}
}

.titleWrapper {
	display: flex;
	align-items: center;
}

.title {
	line-height: 28px;
	margin: 0px;
	font-size: 16px;
	font-weight: 600;
}

.detailTextWrapper {
	margin-top: 7px;
	padding-left: 5px;
}

.detailTextWrapper span {
	font-size: 14px;
	font-weight: 400;
}

.detailTextBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	margin-top: -5px;
}

.detail {
	margin: 0 0 0 5px;
	font-size: 14px;
	font-weight: 400;
}
