/* デフォルト */
.default {
  min-width: 60px;
  height: 35px;
  background-color: #3e2924;
  border-radius: 5;
  padding: 0 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.default:hover {
  background-color: #3e2924;
}
.label {
  color: #fff;
}

/* アウトライン */
.outline {
  min-width: 60px;
  height: 35px;
  border: 1px solid #3e2924;
  background-color: #fff;
  border-radius: 5;
  padding: 0 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.outline:hover {
  background-color: #fff;
}
.outline-label {
  color: #3e2924;
}
