.profileHeaderContainer {
	grid-area: header;
	width: 100%;
	height: 100%;
	padding: 20px 20px 15px 20px;
	background: var(--box-background-color);
	border: 1px var(--border-color) solid;
	box-shadow: var(--box-shadow-color);
	border-radius: 5px;
}

@media (max-width: 770px) {
	.profileHeaderContainer {
		padding: 10px 10px 5px 10px;
		min-height: 0px;
	}
}

.avatar {
	height: 0;
	text-align: center;
}

@media (max-width: 770px) {
	.avatar {
		text-align: left;
	}
}

.avatar img {
	object-fit: cover;
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

@media (max-width: 770px) {
	.avatar div {
		width: 75px !important;
		height: 75px !important;
	}
}
@media (max-width: 770px) {
	.avatar img {
		width: 75px !important;
		height: 75px !important;
	}
}

.followButtonWrap {
	display: flex;
	justify-content: flex-end;
	text-align: center;
}

.followButton {
	color: var(--base-color);
	border: 1px var(--base-color) solid;
	border-radius: 5px;
	width: 100px;
	font-weight: 400;
	padding: 6px 0;
}

.followButton:hover {
	background-color: var(--background-color);
}

.followingButton {
	color: white;
	border: 1px var(--accent-color) solid;
	background-color: var(--accent-color);
	border-radius: 5px;
	width: 100px;
	font-weight: 400;
	padding: 6px 0;
}

.followingButton:hover {
	background-color: var(--button-hover-color);
}

@media (max-width: 770px) {
	.followButton {
		height: 30px !important;
	}
}

.userName {
	text-align: center;
	align-self: center;
	font-size: 30px;
	margin: 0px;
}

@media (max-width: 770px) {
	.userName {
		text-align: left;
		margin-bottom: -5px;
		font-size: 26px;
	}
}

.userID {
	grid-area: id;
	text-align: center;
	position: relative;
	right: 0.3em;
	top: -5px;
	color: var(--sub-font-color);
	font-weight: 400;
	margin: 0px;
}

@media (max-width: 770px) {
	.userID {
		text-align: left;
		right: 0;
	}
}

.userText {
	text-align: center;
	align-self: center;
	font-weight: 400;
	margin: 0 0 5px 0;
}

@media (max-width: 770px) {
	.userText {
		margin-top: 10px;
		text-align: left;
	}
}

.birth {
	position: relative;
	top: -1px;
}

.other {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (max-width: 770px) {
	.other {
		justify-content: start;
		align-items: center;
	}
}

@media (max-width: 770px) {
	.avatar {
		text-align: left;
	}
}

.FollowInfoBlock {
	display: flex;
	flex-direction: row;
}

.followCountWrapper {
	margin: 0 10px 0 0px;
	padding: 2px;
}

.followCount {
	font-weight: 500;
}

.followCountText {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: var(--sub-font-color);
}

.followCountText:hover {
	font-weight: 500;
}

.followerCountWrapper {
	margin: 0;
	padding: 2px;
}

.followerCount {
	font-weight: 500;
}

.followerCountText {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: var(--sub-font-color);
}

.followerCountText:hover {
	font-weight: 500;
}

.snsLinkWrapper {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.snsIcon {
	color: var(--sub-font-color);
	margin-right: 10px;
}

.snsIcon:hover {
	color: var(--base-color);
}
