.profileHeaderContainer {
	grid-area: header;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 40px 45px minmax(1px, 25px) minmax(35px, auto)
		minmax(30px, auto);
	grid-template-areas:
		" ...    avatar button"
		" name   name   name  "
		" id     id     id    "
		" text   text   text  "
		" other  other  other  ";
	min-height: 200px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: var(--box-background-color);
	border: 1px var(--border-color) solid;
	box-shadow: var(--box-shadow-color);
	border-radius: 5px;
}

@media (max-width: 770px) {
	.profileHeaderContainer {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 40px minmax(1px, auto) minmax(1px, auto) minmax(1px, auto);
		grid-template-areas:
			" avatar button button"
			" name   name   name  "
			" id     id     id    "
			" text   text   text  "
			" other  other  other  ";
		padding: 10px 10px 5px 10px;
		min-height: 0px;
	}
}

.avatar {
	grid-area: avatar;
	text-align: center;
}

@media (max-width: 770px) {
	.avatar {
		text-align: left;
	}
}
.avatar div {
	height: 100% !important;
	width: 100% !important;
	width: 125px !important;
	height: 125px !important;
}

.avatar img {
	width: 125px !important;
	height: 125px !important;
}

.settingIcon {
	grid-area: button;
	justify-self: end;
}

@media (max-width: 770px) {
	.avatar div {
		width: 75px !important;
		height: 75px !important;
	}
}
@media (max-width: 770px) {
	.avatar img {
		width: 75px !important;
		height: 75px !important;
	}
}

.followButton {
	grid-area: button;
	display: flex;
	justify-self: end;
	align-self: start;
}

@media (max-width: 770px) {
	.followButton {
		height: 30px !important;
	}
}

.userName {
	grid-area: name;
	text-align: center;
	height: 100%;
	font-size: 30px;
	margin: 0px;
}

@media (max-width: 770px) {
	.userName {
		text-align: left;
		margin-bottom: -5px;
		font-size: 26px;
	}
}

.userID {
	grid-area: id;
	text-align: center;
	position: relative;
	right: 0.3em;
	top: -5px;
	color: var(--sub-font-color);
	font-weight: 400;
	height: 100%;
	margin: 0px;
}

@media (max-width: 770px) {
	.userID {
		text-align: left;
		right: 0;
	}
}

.userText {
	grid-area: text;
	text-align: center;
	align-self: center;
	font-weight: 400;
	margin: 0px;
}

@media (max-width: 770px) {
	.userText {
		margin-top: 10px;
		text-align: left;
	}
}

.birth {
	position: relative;
	top: -1px;
}

.other {
	grid-area: other;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

@media (max-width: 770px) {
	.other {
		justify-content: start;
		align-items: center;
	}
}

@media (max-width: 770px) {
	.avatar {
		text-align: left;
	}
}

.FollowInfoBlock {
	display: flex;
	flex-direction: row;
}

.followCountWrapper {
	margin: 0 10px 0 0px;
}

.followCount {
	font-weight: 500;
}

.followCountText {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: var(--sub-font-color);
}

.followCountText:hover {
	font-weight: 500;
}

.followerCountWrapper {
	margin: 0;
}

.followerCount {
	font-weight: 500;
}

.followerCountText {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	color: var(--sub-font-color);
}

.followerCountText:hover {
	font-weight: 500;
}

.snsLinkWrapper {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
}

.snsIcon {
	color: var(--sub-font-color);
	margin-right: 10px;
}

.snsIcon:hover {
	color: var(--base-color);
}
