.line {
	margin: 0px;
	border-top: 1px #dfdfdf solid;
}

.followTextWrapper {
	display: flex;
	width: 100%;
	margin: 5px 10px 15px 0px;
	margin-bottom: 15px;
	padding-right: 10px;
}

.followText {
	height: 100%;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}
