.follow {
	display: grid;
	grid-auto-columns: 45px 1fr 100px;
	grid-auto-rows: minmax(1px, auto) minmax(1px, auto) minmax(1px, auto);
	grid-template-areas:
		"avatar name button"
		"avatar id	 button"
		"...    text text	 ";
	padding: 5px 10px 5px 10px;
}

.avatar {
	grid-area: avatar;
	align-self: center;
	background-color: #1a1a1a;
}

.userNameWrapper {
	grid-area: name;
	display: flex;
}

.userName {
	font-size: 17px;
	font-weight: 600;
	height: 100%;
	margin: 0px;
	align-self: center;
}

.userName:hover {
	text-decoration: underline;
}

.userID {
	grid-area: id;
	position: relative;
	top: -5px;
	height: 100%;
	margin: 0px;
	font-size: 13px;
	font-weight: 600;
	color: var(--sub-font-color);
	align-self: center;
}

.userText {
	grid-area: text;
	font-size: 13px;
	font-weight: 400;
	margin: 0px;
}

.buttonWrapper {
	grid-area: button;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonWrapper button {
	width: 100px;
	max-height: 30px;
}
