.miniProfileContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 12px;
	padding-bottom: 20px;
	background: var(--box-background-color);
	border: 1px var(--boder-color) solid;
	border-radius: 5px;
	margin-bottom: 13px;
}

@media (max-width: 770px) {
	.miniProfileContainer {
		margin-bottom: 0px;
		grid-area: profile;
	}
}

.titleWrapper {
	display: flex;
	align-items: center;
}

.title {
	line-height: 28px;
	margin: 0px;
	font-size: 16px;
	font-weight: 600;
}

.historyWrapper {
	margin-top: 7px;
	padding-left: 5px;
}

.historyWrapper span {
	font-size: 14px;
	font-weight: 500;
}

.birth {
	margin-left: 10px;
	margin-bottom: 5px;
}

.postCount {
	margin-left: 10px;
}

.commentCount {
	margin-left: 10px;
}
