.tagContainer {
	width: 100%;
	padding: 12px;
	background: var(--box-background-color);
	border: 1px var(--border-color) solid;
	box-shadow: var(--box-shadow-color);
	border-radius: 5px;
	margin-bottom: 13px;
}

@media (max-width: 770px) {
	.tagContainer {
		grid-area: tags;
	}
}

.titleWrapper {
	display: flex;
}

.tagText {
	line-height: 26px;
	margin: 0px;
	margin-left: 2px;
	font-size: 18px;
	font-weight: 600;
}

.tagErrorMessage {
	margin-top: 5px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.tagWrapper {
	text-align: left;
	margin-top: 15px;
}

.noneTagText {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
	font-size: 13px;
}
