/* Signup */
.signUpContainer {
  display: flex;
  justify-content: center;
  height: 60vh;
}
.main {
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
}
.form {
  align-content: end;
}
/* .text {
  font-size: 18px;
  padding-bottom: 20px;
} */
