.folderContainer {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.memoTextWrapper {
	display: flex;
}
.memoText {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
