.profile {
	display: block;
	text-align: center;
	width: 100%;
	padding: 20px;
	background: var(--box-background-color);
	border-radius: 5px;
	margin-bottom: 15px;
}

@media (max-width: 770px) {
	.profile {
		width: 100%;
		margin-bottom: 0px;
	}
}

.avatarContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "... avatar setting";
}

.avatar {
	grid-area: avatar;
	justify-self: center;
}

.settingIcon {
	grid-area: setting;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.userName {
	font-size: 24px;
	font-weight: 400;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.userID {
	font-size: 16px;
	font-weight: 400;
	color: #413431c9;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
}

.userText {
	font-size: 13px;
}

.snsLinkWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.followLink {
	color: #3e2924;
	border-width: 22px;
}

.line {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	height: 1px;
	border-top: 1px #c4c4c4 solid;
}
