/* Navigation */
.navigation {
  margin: 15px 0;
}
.navigation span {
  font-size: 14px !important;
  font-weight: bold;
  color: #3e2924 !important;
}
.navigation svg {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 600px) {
  .navigation span {
    font-size: 11px !important;
  }
  .navigation svg {
    width: 22px;
    height: 22px;
  }
}
